.pf-v6-c-table .conversion-required-row {
  border-right: 1px solid #c7c7c7;
  border-left: 4px solid #FFCC17;
  border-bottom: none;
  border-top: 1px solid #c7c7c7;
}

.pf-v6-c-table .conversion-required-header {
  border: 1px solid #FFCC17;
  border-left: 4px solid #FFCC17;
  background-color: #ffcd171a;
}

.upload-complete-row {
  border-right: 1px solid #c7c7c7;
  border-left: 4px solid #3D7317;
}

.pf-v6-c-table .upload-complete-header {
  border: 1px solid #3D7317;
  border-left: 4px solid #3D7317;
  background-color: #3D73171a;
}

.pf-v6-c-table .fat-row Td, Th {
  height: 4.5rem;
  vertical-align: middle;
}

.conversion-required-header .pf-v6-c-table__check input {
  transform: translateY(-6px)
}

.upload-complete-header .pf-v6-c-table__check input {
  transform: translateY(-6px)
}

.conversion-profile-menu {
  width: 500px;
}

.pf-v6-c-menu__item.danger-item {
  color: #B1380B;
}

.pf-v6-c-table .conversion-required-title {
  min-width: 265px;
}

.pf-v6-c-table .upload-complete-title {
  min-width: 265px;
}